body{
background-color: grey;
color: purple;
}
h1{
margin:auto;
text-align: center;
}

p{
margin:auto;
text-align: center;
font-size:15pt;
}
section{
width: 800px;
height: 240px;
margin:auto;
margin-top: 20px;
display:flex;
flex-direction: row;
align-items: center;
border: purple solid thin;
}
h2{
margin-bottom: 10px;
}

img{
width:200px;
height: 200px;
}