<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <nav>
        <a href="/"><span>Home Page</span></a>
        <a href="/albums"><span>Albums</span></a>
        <a href="/capitalize/hello"><span>Capitalize</span></a>
    </nav>
</header>
<h1>ALBUMS</h1>
    <section th:each="albumInfo : ${albums}">
        <h2 th:text="${albumInfo.title}"> Title</h2>
        <p th:text="'by: ' + ${albumInfo.artist}"> Title</p>
        <div><img th:src="@{${albumInfo.imageUrl}}"></div>
        <p th:text="'Song count: ' + ${albumInfo.songCount}"> Title</p>
        <p th:text="' Album length: ' + ${albumInfo.albumLength}"> Title</p>
        <form th:action="'/albums' + ${albumInfo.id} + '?_method=delete'" method="POST">
            <input type="submit" value="X">
        </form>
        <form th:action="'/albums' + ${albumInfo.id} + '?_method=put'" method="POST">
            <input type="submit" value="Update Album Info">
        </form>
    </section>



</body>
</html>